//sidebar
$--menu-text-color:#c8c8c8;
$--menu-active-text-color:#fa8072;
$--sub-menu-active-text:#ffffff;

$--menu-color:#34797f;
$--menu-hover-color:#435363;

$--sub-menu-color:#1f2d3d;
$--sub-menu-hover-color:#001528;

$--sidebar-width:193px;

$--hide-sidebar-Width:38px;

$--main-background-color: #f0f2f5;
$--second-backgroud-color:#ffffff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
//:export {
//  $--menu-text-color;
//  $--menu-active-text-color;
//  $--sub-menu-active-text;
//  $--menu-color;
//  $--menu-hover-color;
//  $--sub-menu-color;
//  $--sub-menu-hover-color;
//  $--sidebar-width;
//  $--hide-sidebar-Width;
//}
