//sidebar
$--menu-text-color:#c8c8c8;
$--menu-active-text-color:#fa8072;
$--sub-menu-active-text:#ffffff;

$--menu-color:#34797f;
$--menu-hover-color:#435363;

$--sub-menu-color:#1f2d3d;
$--sub-menu-hover-color:#001528;

$--sidebar-width:193px;

$--hide-sidebar-Width:38px;

$--main-background-color: #f0f2f5;
$--second-backgroud-color:#ffffff;

/* theme color */
$--color-primary: #34797F;
$--color-secondary: #99CCCC;
$--color-success: #2B9869;
$--color-warning: #D3BA3F;
$--color-danger: #BC3232;
$--color-info:#fa8072;

/* text color */
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--color-text-secondary: #909399;
$--color-text-placeholder: #c0c4cc;

/* border color */
$--color-border-base: #dcdfe6;
$--color-border-light: #e4e7ed;
$--color-border-lighter: #ebeef5;
$--color-border-extra-light: #f2f6fc;

$--button-font-weight: 400;

$--table-border:1px solid#dfe6ec;
